<h1>JMaster Dashboard</h1>

<ol>
  <li> <%= link_to 'Sources', sources_path %> </li>
  <li> <%= link_to 'Authors', authors_path %> </li>
  <li> <%= link_to 'Author Todos', todos_authors_path %></li>
  <li> <%= link_to 'Users', "#{AccountServer}/users", :target => '_BLANK' %> </li>
  <li> <%= link_to 'Story Groups', story_groups_path %> </li>
</ol>
