<h1>Author Todos</h1>
<br/>
<table>
  <tr>
    <th>Name</th>
  </tr>
<% @priority_authors.each do |priority_author| %>
 <% author = priority_author.author %>
  <tr>
    <td><%= author.name %></td>
    <td><%= link_to 'Checked', check_author_path( author ) %></td>
    <td><%= link_to 'Edit', edit_author_path( author ) %></td>
    <td><%= link_to 'Merge', merge_author_path( author ) %></td>
    <% if author.block? %>
      <td><%= link_to 'Unblock', unblock_author_path( author ) %></td>
    <% else %>
      <td><%= link_to 'Block', block_author_path( author ) %></td>
    <% end %>
    <td><%= link_to 'Stories', author_path( author ) %></td>
  </tr>
<% end %>
</table>
<br />
<%= will_paginate @priority_authors %>
<br />