<h1>Story Group</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Source</th>
    <th>Duplicate?</th>
  </tr>
<% @stories.each do |story| %>
  <tr>
    <td><%= link_to story.title, story_path(story) %></td>
    <td><%= story.source.name %></td>
    <td><%= !story.story_metric.try(:master_id).nil? %></td>
  </tr>
<% end %>
</table>
<br />
<%= will_paginate @stories %>
<br />

<%= link_to 'Story Groups', story_groups_path %>